@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
p {
    margin: 3em;
    
}

a {
    padding: 10px;
    text-decoration: none;
}


p a {
    border-width: 100%;
    border-radius: 3px;
    color: white;
}

.greenButton a {
    background-color: green;
}

.orangeButton a {
    background-color: orangered;
}