html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

article {
    background: rgb(51, 102, 153);
    border-radius: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}
