nav {
    margin-left: auto;
}

nav ul {
    display: flex;
}

nav li {
    display: block;
}

nav a {
    display: block;
    padding: 0.5em 1em;
    background-color: black;
    color: white;
}