/* Remove all defalt whitespace*/
* {
    padding: 0;
    margin: 0;
}

/* Reset CSS Box model sizing calculations*/
html {
box-sizing: border-box;
font-family: Helvetica, sans-serif;
font-size: 16px;
line-height: 1.2;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}
nav, ul, li {
    display: inline-block;
}