.site-nav {

}

.site-nav ul {
    padding: 0;
    margin: 0;
    background: #333;
}

.site-nav ul ul {
    display: none;
    position: absolute;
    min-width: 10em;
    background: black;
}

.site-nav ul ul ul {
    top: 0;
    left: 100%;
}

.site-nav > ul > li {
    float: left;
}

.site-nav li {
    display: block;
    list-style: none outside;
    position: relative;
}

.site-nav li:hover > ul {
    display: block;
}

.site-nav a {
    display: block;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
}

.site-nav li:hover > a,

.site-nav a:hover {
    background-color: #090;
}
