* {
    padding: 0;
    margin: 0;
}

/* Reset CSS Box model sizing calculations*/
html {
box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

section {
    width: 250px;
    height: 250px;
    border: dotted green;
    margin: 0 auto;
}
p {
    display: inline-block;
    max-width: 100%;
    border: 4px solid blue;
    padding: 20px;
    margin: 0 0 0 0;
    width: 100%;
}
h1 {
    text-align: center;
}
