.nav {
    text-align: right;
    padding-top: 0.5em;
}

.nav ul li {
    display: inline-block;
}

.nav a {
    display: block;
    padding: 0.5em 1em;
    background: #EEE;
    color: #333;
    text-decoration: none;
}

.nav a:hover {
    background: #090;
    color: #FFF;
}